aside {
  position: fixed;
  top: 1;
}

.menu-burger {
  position: absolute;
  top: 10px;
  left: 10px;
}

#open-menu {
  position: relative;
  display: none;
  background: none;
}

//  WIP

// @media all and (max-width:480px) {
//   #open-menu {
//     display: flex;
//   }
// }
